{erl_opts, [no_debug_info]}.
{deps, [
       jsone,
       png
]}.

{escript_incl_apps,
 [erlang_ray, jsone, png]}.
{escript_main_app, erlang_ray}.
{escript_name, erlang_ray}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.